@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["PageInfo"] = "More contents loading...";
}
<h1>@ViewData["Title"]</h1>

<p class="text-center">
    Use this page to detail your site's privacy policy.
    <h6 class="text-center"> @ViewData["PageInfo"]</h6>
</p>
